<h2>Submit Suggestion</h2>
<form class="submit-suggestion-form" [formGroup]="submitSuggestionForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width-form" appearance="standard">
        <mat-label>Title</mat-label>
        <input matInput required formControlName="title">
    </mat-form-field>

    <mat-label>Description</mat-label>
    <ckeditor [editor]="editor" [config]="editorConfig" (ready)="onReady($event)" formControlName="description"></ckeditor>
    
    <mat-form-field class="full-width-form" appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput required email formControlName="email">
    </mat-form-field>
    <div class="sub-button" style="display:flex; justify-content:flex-end;">
        <button mat-button type="submit" color="primary">Submit</button>
    </div>

</form>
