<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="h-spacer" [routerLink]="['']">My App</span>
    <button class="h-spacer" mat-button [routerLink]="['simple-tracker']" [routerLinkActive]="['active']">Simple
      Tracker</button>
    <span class="example-spacer"></span>
    <button mat-icon-button *ngIf="isLoggedIn()" [matMenuTriggerFor]="accountMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="goToAccountInformation()">Account</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    <button mat-button *ngIf="!isLoggedIn()" (click)="loginDialog()">Login</button>
  </mat-toolbar-row>
</mat-toolbar>
