  
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <a class="navbar-brand" [routerLink]="['']">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarLinks">
      <div class="navbar-nav mr-auto">
          <!-- <a class="nav-item nav-link" [routerLink]="['hiscores']" [routerLinkeActive]="['active']">Hiscores</a> -->
        <!-- <a class="nav-item nav-link" [routerLink]="['hiscores']" [routerLinkActive]="['active']">Hiscores</a>
        <a class="nav-item nav-link" [routerLink]="['admin']" [routerLinkActive]="['active']">Admin</a> -->
      </div>
      <div class="navbar-nav ml-auto">
        <!-- <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#nav-login-modal">Login</button> -->
      </div>
    </div>
</nav>
  
  <!-- <app-login-modal [modalId]="['nav-login-modal']"></app-login-modal> -->