.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-icon {
    font-size: 16px;
}

.button-field {
    margin-right: 1em;
}

.button-label {
    font-size: 12px;
}




.content-desktop {display: block;}
.content-mobile {display: none;}

@media screen and (max-width: 768px) {

    .content-desktop {display: none;}
    .content-mobile {display: block;}

}