.title-bar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;

  h1 {
    margin-bottom: auto;
    margin-top: auto;
    grid-column-start: 2;
  }

  button {
    margin-left: auto;
  }
}

.suggestions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(356px, 1fr));
  gap: 1em;
}
