<div class="title-bar">
    <h1 class="mat-title title-header">Simple Tracker</h1>
    <button class="add-button" mat-icon-button color="green" (click)="addSuggestion()">
        <mat-icon>add_circle_outline</mat-icon>
    </button>
</div>

<mat-card class="card" *ngIf="isLoading">
    <div style="display:flex; justify-content: center;">
        <mat-spinner></mat-spinner>
    </div>
</mat-card>

<app-feature-suggestion class="suggestion-container" *ngFor="let suggestion of suggestions" [suggestion]="suggestion"></app-feature-suggestion>